set-font-size(value) {
  font-size value
  if (value is inherit) {
  } else {
    font-size remify(value)
  }
}

set-line-height(value) {
  line-height value
  if (value is inherit) {
    /* do nothing, "inherit" has no unit */
  } else {
    line-height unit(24/value, '') // line-height base is 24
  }
}

remify(value) { /* separate mixin, so it can be used elsewhere */
  u = unit(value)
  if (u is 'px') {
    return unit(value/16, 'rem') // rem-base is 16
  } else {
    return unit(value, u)
  }
}

unselectable()
  -webkit-touch-callout none
  user-select none
